<tr>
  <td><%= category_review.title %></td>
  <td>
    <%= link_to admin_category_review_reviews_path(category_review) do %>
      <span class="glyphicon glyphicon-list-alt"></span>
    <% end %>
  </td>
  <td>
    <%= link_to edit_admin_category_review_path(category_review) do %>
      <span class="glyphicon glyphicon-edit"></span>
    <% end %>
  </td>
  <td>
    <%= link_to [:admin, category_review], method: :delete,
      data: {confirm: "Are you sure?"} do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  </td>
</tr>
