<div id="container">
  <h2 class="word-list">
  <h2><%= link_to t("category.btn_create"), new_admin_category_review_path,
    class: "btn-primary" %></h2>
  <%= t "admin.manager.category_review.list_category_review" %></h2>
  <%= render "list_category_reviews" %>
</div>
