<tr>
  <td><%= tour.name %></td>
  <td>
    <%= link_to admin_tour_book_tours_path(tour) do %>
      <span class="glyphicon glyphicon-list-alt"></span>
    <% end %>
  </td>

  <td>
    <%= link_to edit_admin_tour_path(tour) do %>
      <span class="glyphicon glyphicon-edit"></span>
    <% end %>
  </td>

  <td>
    <%= link_to [:admin, tour], method: :delete,
      data: {confirm: "Are you sure?"} do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  </td>
</tr>
