<table class="table">
  <thead>
    <tr class="tr">
      <td><%= t "admin.manager.review.content" %></td>
      <td>User email</td>
      <td>Confirm</td>
      <td><%= t "admin.manager.review.delete" %></td>
    </tr>
  </thead>
  <tbody>
    <%= render @reviews %>
  </tbody>
</table>
<%= will_paginate %>
